.rst-app__special-menu_container{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    
    background: rgb(77,77,77);
    background: radial-gradient(circle, rgba(77,77,77,1) 0%, rgba(46,46,46,1) 79%);
    text-align: center;
}

.rst-app__special-menus {
    display: flex;
    justify-content: center;
    width: 100%;
    
}

.rst-app__special-menu-header h1 {
    margin-top: 10rem;
    font-size: 3rem;
    color: var(--color-2);
}

.rst-app__special-menu-header h2{
    margin-top: -2rem;
    font-size: 6rem;
    color: var(--color-3);
    font-weight: bold;
}

.rst-app__special-menu-header img {
    width: 600px;
    border-radius: 20px;
}

.rst-app__special-menu-header_content {
    display: flex;
    margin: 0 12rem 0 12rem;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
}

.rst-app__special-menu-header_content p{
    color: var(--color-1);
    font-size: 1.3rem;
}

@media screen and (max-width: 1300px) {
    .rst-app__special-menu-header_content {
        margin: 0 3rem 0 3rem;
    }

    .rst-app__special-menu-header img {
        width: 500px;
    }
}

@media screen and (max-width: 1000px) {
    .rst-app__special-menu-header h1 {
        font-size: 2rem;
    }

    .rst-app__special-menu-header h2 {
        margin-top: -.6rem;
        font-size: 4rem;
    }

    .rst-app__special-menu-header_content{
        margin: 0 3rem 0 3rem;
        flex-direction: column;
    }

    .rst-app__special-menu-header_content p {
        font-size: 1rem;
    }

    .rst-app__special-menu-header img {
        width: 300px;
    }
}

@media screen and (max-width: 600px) {
    .rst-app__special-menu-header h1 {
        font-size: 1.5rem;
    }

    .rst-app__special-menu-header h2 {
        margin-top: -.6rem;
        font-size: 2rem;
    }

    .rst-app__special-menu-header_content p {
        font-size: .9rem;
    }

    .rst-app__special-menu-header_content {
        margin: 0 1rem 0 1rem;
    }
}